@import '../../Variables/variables.scss';

.filter-btn, .specific-filter {
    background-color: $mainColor;
    color: #fff;
    border-style: none;
    border-radius: 10px;
    height: 2.5rem;
    width: 5rem;
    font-weight: $boldFont;
    cursor: pointer;
}

.filter-btn:hover, .specific-filter:hover {
    background-color: $darkColor;
}

.filter-btn-container {
   @include displayStyle(column);
}

.filter-btn {
    margin-top: 1rem;
}

.specific-filter {
    margin: 1rem;
}

.specific-filters {
    @include displayStyle(row);
    flex-wrap: wrap;
}