@import '../../Variables/variables.scss';

.job, .container, .first-row, .bottom-row {
    @include rowStyle
}

.logo, .languages {
    @include displayStyle(row);
}

.company, .language {
    font-weight: $boldFont;
}

.job {
    margin: 2rem;
    background: #fff;
    width: 85%;
    border-radius: 5px;
    box-shadow: 2px 17px 15px -3px rgba(0,0,0,0.16);
    font-family: $mainFont;
}

.logo {
    padding: 1.5rem;
}

.container {
    width: 100%;
    justify-content: space-between;
}

.company {
    color: $mainColor;
    font-size: 18px;
}

h2 {
    margin: 0;
    font-size: 20px;
}

p {
    padding: 0.2rem;
}

.new-offer, .featured-offer {
    border-radius: 10px;
    padding: 0.45rem;
    font-weight: 500;
    margin-left: 15px;
    color: #fff;
}

.new-offer {
    background-color: $mainColor;
}

.featured-offer {
    background-color: $darkColor;
}

.language {
    color: $mainColor;
    background-color: hsl(180, 31%, 95%);
    margin: 0.45rem;
    padding: 0.4rem;
    border-radius: 10px;
}

.bottom-row {
    color: hsl(180, 8%, 52%);
    padding: 0.5rem;
}

.bottom-info {
    margin: 0.5rem 0.75rem 0.5rem 0;
}

@media (max-width: 850px) {
    .container {
        flex-direction: column;
    }

    .languages {
       justify-content: start;
    }

    .language {
        margin: 0.45rem 0.45rem 0.45rem 0;
    }
}

@media (max-width: 500px) {
    .first-row {
        margin-top: 2rem;
    }

    .logo-pic {
        position: absolute;
        margin: 0 0 13rem 1.5rem;
        height: 50px;
        width: 50px;
    }

    .logo {
        padding: 0.25rem;
        position: relative;
    }

    .company {
        font-size: 15px;
    }

    .new-offer, .featured-offer {
        font-size: 12px;
    }
}